<div class="container">
    <div class="row">
          <div role="tabpanel">
              <div class="col-sm-3">
                  <ul class="nav nav-pills nav-stacked nav-tabs navbar navbar-default nav-tabs-justified" role="tablist">
                      <li role="presentation" class="brand-nav" [class.active]="componentName === 'dashboard'"><a (click)="loadComponent('dashboard')" aria-controls="tab1" role="tab" data-toggle="tab">Home</a></li>
                      <li role="presentation" class="brand-nav" [class.active]="componentName == 'course-material'"><a (click)="loadComponent('course-material')" aria-controls="tab2" role="tab" data-toggle="tab">Course Material</a></li>
                      <li role="presentation" class="brand-nav" [class.active]="componentName == 'user-profile'"><a (click)="loadComponent('user-profile')" aria-controls="tab3" role="tab" data-toggle="tab">Profile</a></li>
                  </ul>
              </div>
              <div class="col-sm-9">
                  <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="tab1">
                          <app-user-dashboard *ngIf="componentName == 'dashboard'"></app-user-dashboard>
                          <app-user-profile *ngIf="componentName == 'user-profile'"></app-user-profile>
                      </div>
                  </div>
              </div>
          </div>
    </div>
  </div>