<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <mat-tab-group mat-stretch-tabs>
              <mat-tab label="Login">
                <div class="panel-body">
                  <form>
                    <mat-form-field class="form-width">
                      <input matInput placeholder="Email">
                    </mat-form-field>
                    <mat-form-field class="form-width">
                      <input type="password" matInput placeholder="Password">
                    </mat-form-field>
                    <hr>
                    <div>
                      <mat-checkbox>Remember Me</mat-checkbox>
                    </div>
                    <hr>
                    <button mat-raised-button color="primary" class="btn-login">Login</button>
                  </form>
                </div>
              </mat-tab>
              <mat-tab label="Registartion">
                <div class="panel-body">
                  <form>
                    <mat-form-field class="form-width">
                      <input matInput placeholder="Name">
                    </mat-form-field>
                    <mat-form-field class="form-width">
                      <input matInput placeholder="Email">
                    </mat-form-field>
                    <mat-form-field class="form-width">
                      <input type="password" matInput placeholder="Password">
                    </mat-form-field>
                    <mat-form-field class="form-width">
                      <textarea matInput placeholder="Address"></textarea>
                    </mat-form-field>
                    <div>
                      <label class="checkbox-label">Gender : </label>
                      <mat-checkbox>Male</mat-checkbox>
                      <mat-checkbox class="checkbox-padding">Female</mat-checkbox>
                    </div>
                    <mat-form-field class="form-width">
                      <span matPrefix>+91 &nbsp;</span>
                      <input type="tel" matInput placeholder="Mobile No">
                    </mat-form-field>
                    <mat-form-field class="form-width">
                      <input matInput placeholder="College Name">
                    </mat-form-field>
                    <mat-form-field class="form-width">
                      <input matInput placeholder="Batch Name">
                    </mat-form-field>
                    <hr>
                    <button mat-raised-button color="primary" class="btn-login">Register</button>
                  </form>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>