<div>
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">				
          <img srcset="../../../assets/favicon.ico" class="center-block">
        </div>
        <div class="modal-body">
          <form action="/examples/actions/confirmation.php" method="post">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
            </div>
          </form>				
          <p class="hint-text"><a href="#">Forgot Password?</a></p>
        </div>
      </div>
      <p class="hint-text"><a href=""><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Marvellous Infosystem</a></p>
    </div>
  </div>